extends layout

block content
  h1 Tyler's RESTful API
  h2 Timestamp Microservice
  p.red Example Usage
  code https://bugatimestamp.herokuapp.com/December 14, 2016
  br
  code https://bugatimestamp.herokuapp.com/1450137600
  p.red Expected Output is JSON
  code { "unix": 1450137600, "natural": December 14, 2016 }
